* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #141414;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper{
    width: 100%;
    position: relative;
}
nav{
    height: 10vh;
    width: 100%;
    color: white;
    position: fixed;
    z-index: 999;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
nav img{
    height: 100px;
    object-fit: cover;
    padding-left: 20px;
}
nav .centerelems{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
nav .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;}
.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
}
.video-container{
    height: 90vh;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}
.video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.video-overlay{
    height: 100%;
    width: 100%;
    background-color: #14141493;
    position: absolute;
   color: white;
   padding-left: 20px;
   font-size: 26px;
   padding-top: 130px;
   line-height: 1.5;
}
.video-overlay p{
    font-weight: 300;
    color: azure;
}
.secondtext{
    font-size: 24px;
    margin-bottom: 10px;
}
.thirdtext{
    font-size: 18px;
    width: 50%;
}
.video-overlay p span{
    color: white;
}
.video-overlay h1{
    color: azure;
    letter-spacing: 5px;
}
.button-group{
    display: flex;
    gap: 20px;
}
.button-group button{
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    display: flex;
    background-color:#5A5B5F;
    gap: 5px;
}
.glass{
    backdrop-filter: blur(10px);
    background-color:#5A5B5F;
}
.video-section{
    height: 30vh;
    width: 100%;
    background-color: #141414;
    margin-top: -10%;
    z-index: 999;

}
.video-section h1{
    margin-bottom: 20px;
    margin-left: 20px;
}
.popular-videos{
    height: 80%;
    width: 100%;
    background-color: #141414;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
    align-items: center;
}
.videos{
    height: 100%;
    width: 300px;
    background-color: tomato;
    border-radius: 30px;
    flex-shrink: 0;
  
}
.more-videos{
    min-height: 100vh;
    width: 100%;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
